<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<form action="{url:/security/chu}" method="post">
	<input type="submit" value="导出">
</form>
<form action="{url:/security/ru}" method="post">
	<input type="submit" value="导入">
</form>
<form action="{url:/security/xian}" method="post">
 <input type="text" name="gname"><input type="submit" value="搜索">
	<table border="1">
		<tr>
			<td>序号</td>
			<td>用户名</td>
			<td>真实姓名</td>
			<td>工资</td>
		</tr>
		{foreach:items=$data key=$key item=$value}
		<tr>
			<td>{echo:$key+1}</td>
			<td>{$value['name']}</td>
			<td>{$value['zhen']}</td>
			<td>{$value['gong']}</td>
		</tr>
		{/foreach}
	</table>
</form>
</body>
</html>