{js:areaSelect}


<section class="web">
	<header class="login_header">
		<h3>申请加盟商户</h3>
		<p>加入我们的电商平台，成为我们的供应商，一起共创美好未来</p>
	</header>
	<section class="reg_box">
		<form action="{url:/simple/seller_reg}" method="post" enctype='multipart/form-data' name="sellerForm">
		<!-- 增加经纬度 -->
		     <input type="hidden" name="lng" value="">
		     <input type="hidden" name="lat" value=""> 
			<dl>
				<dt>登陆用户名：</dt>
				<dd>
					<input class="input_text" name="seller_name" type="text" value="" pattern="required" alt="用户名不能为空">
					<span>* 用户名称（必填）</span>
				</dd>
			</dl>
			<dl>
				<dt>密码：</dt>
				<dd>
					<input class="input_text" name="password" type="password" bind='repassword' pattern="required">
					<span>* 登录密码</span>
				</dd>
			</dl>
			<dl>
				<dt>确认密码：</dt>
				<dd>
					<input class="input_text" name="repassword" type="password" bind='password' pattern="required">
					<span>* 重复确认密码</span>
				</dd>
			</dl>
			<dl>
				<dt>商户真实全称：</dt>
				<dd>
					<input class="input_text" name="true_name" type="text" value="" pattern="required">
				</dd>
			</dl>
			<dl>
				<dt>商户资质材料：</dt>
				<dd>
					<input type='file' name='paper_img'>
				</dd>
			</dl>
			<dl>
				<dt>固定电话：</dt>
				<dd>
					<input type="text" class="input_text" name="phone" pattern="phone">
					<span>* 固定电话联系方式，如：010-88888888</span>
				</dd>
			</dl>
			<dl>
				<dt>手机号码：</dt>
				<dd>
					<input type="text" class="input_text" name="mobile" pattern="mobi">
					<span>* 移动电话联系方式：如：13000000000</span>
				</dd>
			</dl>
			<dl>
				<dt>邮箱：</dt>
				<dd>
					<input type="text" class="input_text" name="email" pattern="email">
					<span>* 电子邮箱联系方式：如：aircheng@163.com</span>
				</dd>
			</dl>
			<dl>
				<dt>地区：</dt>
				<dd>
					<select class="input_select" name="province" child="city,area" id="province"></select>
					<select class="input_select" name="city" child="area" id="city"></select>
					<select class="input_select" name="area" id="area"></select>
				</dd>
			</dl>
			<!-- 新增地图 -->
            <dl>
            	<dt>地图：</dt>
            	<dd>
            		<div id="container" style="width:600px;height:400px"></div>
            	</dd>
            </dl>
            
			<!-- 结束 -->
			<dl>
				<dt>详细地址：</dt>
				<dd>
					<input class="input_text" name="address" id="address" type="text" empty value="">
				</dd>
			</dl>
			<dl>
				<dt>企业官网：</dt>
				<dd>
					<input class="input_text" name="home_url" type="text" pattern="url" empty value="">
					<span>填写完整的网址，如：http://www.aircheng.com</span>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<input class="input_submit" type="submit" value="申请加盟">
				</dd>
			</dl>
		</form>
	</section>
</section>



<script>
var areaInstance = new areaSelect('province');
areaInstance.init();
</script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Q5G7KPNplTCrC9haggGcZAGRoPUtq5RX"></script>

<script type="text/javascript">
	var map = new BMap.Map("container");          // 创建地图实例  
	var point = new BMap.Point(116.404, 39.915);  // 创建点坐标  
	map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别  
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放 

	map.addEventListener("click", function(e){        
	var myGeo = new BMap.Geocoder();   
	myGeo.getLocation(e.point, function(result){      
    if (result){    
    var addr=result.address;
     $('#address').val(addr);     
    }      
     });
	//给出经纬度
     var lng = e.point.lng;
     var lat = e.point.lat;
     //console.log(lng);     
     // console.log(lat); 
     //把值给隐藏域
     $("input[name='lng']").attr('value',lng);
     $("input[name='lat']").attr('value',lat);  
	});

	$(function(){
		$('#area').on('change',function(){
			var province = $('#province option:selected').text();
			var city = $('#city option:selected').text();
			var area = $('#area option:selected').text();
			var address=province+city+area;
	        var myGeo = new BMap.Geocoder();  
	        myGeo.getPoint(address, function(point){      
    if (point) {      
        map.centerAndZoom(point, 16);      
        map.addOverlay(new BMap.Marker(point));      
    }      
 },  
province);
		})
	})
</script>