
<header class="uc_head">
	<h3>百度地图</h3>
</header>
<section class="user_form">
	
		<dl>
			<dt>地图搜索：</dt>
			<dd>
				<input  type="text" class="name" name='name'>&nbsp;&nbsp;<input type="submit" class="shou" value="搜索">&nbsp;&nbsp;<input class="zhan" type="submit"  value="展示地图">
			</dd>
		</dl>
		<img src="" id="img1" style="float:left"></dt>
        <div id="panorama" style="height:255px"></div>
</section>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Q5G7KPNplTCrC9haggGcZAGRoPUtq5RX"></script>
<script>
    $(function(){
      var lng,lat;//全局变量
    //显示全景
    $(".shou").on("click",function(){
        var name = $('.name').val();    
		var myGeo = new BMap.Geocoder();      
		// 将地址解析结果显示在地图上，并调整地图视野    
		myGeo.getPoint(name, function(point){      
		    if (point) {     
		       lng=point.lng;//经度
		       lat=point.lat;//纬度
		       var url="http://api.map.baidu.com/panorama/v2?ak=dTlT0ESMCuXosSfGWgfbx1NPe4xUT00m&width=512&height=256&location="+lng+","+lat+"&fov=180";
		       $('#img1').attr('src',url);
		    }      
		 });
      $.ajax({
       url:"{url:/ucenter/addAddress}",
       type:"get",
       dataType:"json",
       data:{'name':name},
       success:function(data){
         
       }
      });
    })

    //显示搜索
    $(".zhan").on("click",function(){
    var name = $('.name').val();   
    $.ajax({
    	url:"{url:/ucenter/shou}",
    	type:"get",
    	dataType:"json",
    	data:{'name':name},
    	success:function(data){
    		console.log(data);
    		var lng=data['result']['location']['lng'];
			var lat=data['result']['location']['lat'];
				console.log(lng);
				console.log(lat);
	var map = new BMap.Map("panorama");          // 创建地图实例  
	var point = new BMap.Point(lng,lat);  // 创建点坐标  
	map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别  
    	}
    })
   })  
})
</script>
