<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>物流跟踪查询</title>
	<style>
		.__freight,.__freight * {padding: 0;margin: 0;list-style: none;}
		.__freight .__freight_list li {border-bottom: 1px solid #ddd;padding: 10px;font-size: 12px;line-height: 1.6;}
		.__freight .__freight_list li:nth-child(2n) {background: #fafafa;}
		.__freight .__freight_list li time {color: #999;display: block;font-size: 10px;}
	</style>
	{js:jquery}
</head>

<body class="__freight">
	<div class="__freight_list" style="overflow-y:auto">
		<ul>
		{foreach:items = $this->data}
			<li>
				<time>{$item['time']}</time>
				<p>{$item['station']}</p>
			</li>
		</tr>
		{/foreach}
		</ul>
	</div>
<script>
var parentHeight = $(window.parent.document).find(".aui_main").height();
$(".__freight_list").height(parentHeight);
</script>
</body>
</html>
